Project 1 - Data Cleaning and Transformation

Project Purpose
- To perform data cleaning and transformation on public datasets using Python
- Answer the following questions using this dataset: https://www.kaggle.com/datasets/gregorut/videogamesales?resource=download

Guiding Questions
- Can you manipulate the dataset to show the cumulative NA_Sales and EU_Sales by platform in 2020?
- Is the Year column in the correct type? If not, let's convert it to the correct type.
- Can you manipulate the dataset to show the top 25 games by North American sales with a release date of 2010 onwards?

In [1]:
#Install pandas and import the module
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\gab\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gab\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gab\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gab\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gab\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gab\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
#Read the csv and print it to view the columns of the dataset
df = pd.read_csv('vgsales.csv')

QUESTION 1:
Can you manipulate the dataset to show the cumulative sales by platform for each year?

In [3]:
#Create a new column within the dataset
df['NAEU_Sales'] = df['NA_Sales'] + df['EU_Sales']

#Check the dataset to ensure our new column is added
print(df)

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales  NAEU_Sales
0             8.46         82.74       70.51
1             0.77         40.24       32.66
2             3.31         35.82       28.73
3             2.96         33.00       26.76
4             1.00         31.37       20.16
...            ...           ...         ...
16593         0.00          0.01        0.01
16594         0.00          0.01        0.01
16595         0.00          0.01        0.00
16596         0.00          0.01        0.01
16597         0.00          0.01        0.01

[16598 rows x 12 columns]

In [4]:
#Now we want to group by platform and by year while showing the new variable NAEU_Sales
grouped = df.groupby(['Platform'])['NAEU_Sales'].sum()
print(grouped)

Platform
2600     96.07
3DO       0.00
3DS     137.39
DC        7.12
DS      585.36
GB      162.14
GBA     262.79
GC      172.17
GEN      24.79
GG        0.00
N64     180.08
NES     147.09
NG        0.00
PC      232.96
PCFX      0.00
PS      550.11
PS2     923.13
PS3     735.97
PS4     220.50
PSP     177.24
PSV      32.53
SAT       1.26
SCD       1.36
SNES     80.27
TG16      0.00
WS        0.00
Wii     776.09
WiiU     62.55
X360    881.63
XB      247.64
XOne    128.84
Name: NAEU_Sales, dtype: float64

QUESTION 2: Is the Year column in the correct type? If not, let's convert it to the correct type.

In [5]:
#First let's check the type of the 'Year' column
print(df['Year'].dtype)

float64

In [6]:
#We see that this returns float64 - typically Year is more recognized as an integer since it is a whole number

#I need to ensure that anything that has NA values is replaced with a "0" to be able to adjust the column value type to int
df['Year'] = df['Year'].fillna(0)

#Convert Year to an integer 
df['Year'] = df['Year'].astype(int)
#This command returned the following error: Cannot convert non-finite values (NA or inf) to integer

#Ensure the new type is integer
print(df['Year'].dtype)

int32

QUESTION 3: Can you manipulate the dataset to show the top 25 games by North American sales with a release date of 2010 onwards?

In [7]:
#Create a new dataset that only contains records with games released in the Year 2010 or later
df2010 = df[df['Year'] >= 2010]

#Show the top 25 ranking games by North American Sales (NA_Sales)
df2010.nlargest(25, 'NA_Sales')

#Do the same thing but drop the unecessary columns
df2010.nlargest(25, 'NA_Sales').loc[:, ['Name', 'Year', 'NA_Sales']]

                                          Name  Year  NA_Sales
15                          Kinect Adventures!  2010     14.97
31                     Call of Duty: Black Ops  2010      9.67
23                          Grand Theft Auto V  2013      9.63
29              Call of Duty: Modern Warfare 3  2011      9.03
35                  Call of Duty: Black Ops II  2012      8.25
62                                 Halo: Reach  2010      7.03
16                          Grand Theft Auto V  2013      7.01
61                        Call of Duty: Ghosts  2013      6.72
65                                      Halo 4  2012      6.63
60                                Just Dance 3  2011      6.05
40                     Call of Duty: Black Ops  2010      5.98
68                                Just Dance 2  2010      5.84
33                   Call of Duty: Black Ops 3  2015      5.77
72                                   Minecraft  2013      5.58
26                 Pokemon Black/Pokemon White  2010      5.57
37              Call of Duty: Modern Warfare 3  2011      5.54
32                         Pokemon X/Pokemon Y  2013      5.17
75                 The Elder Scrolls V: Skyrim  2011      5.03
34                  Call of Duty: Black Ops II  2012      4.99
53                         Super Mario 3D Land  2011      4.89
42                                Mario Kart 7  2011      4.74
101                  Call of Duty: Black Ops 3  2015      4.52
99                               Battlefield 3  2011      4.46
49   Pokemon Omega Ruby/Pokemon Alpha Sapphire  2014      4.23
111                               Just Dance 4  2012      4.14